/****************************** cubething.dev ********************************/

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Chillax";
}
div.footnotes {
  font-style: normal;
  font-size: 1em;
}
* {
  line-height: 1.5;
}

.footer {
  text-align: center;
  margin-top: 1em;
}

pre,
code {
  font-size: 0.75em;
}
