/****************************** cubething.dev ********************************/

@font-face {
  font-family: "EB Garamond";
  src: url("../../font/EBGaramond/EBGaramond08-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-size: 8px;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../font/EBGaramond/EBGaramond08-Italic.woff") format("woff");
  font-style: italic;
  font-display: swap;
  font-size: 8px;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../../font/EBGaramond/EBGaramond12-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-size: 12px;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../../font/EBGaramond/EBGaramond12-Italic.woff") format("woff");
  font-style: italic;
  font-display: swap;
  font-size: 12px;
}
@font-face {
  font-family: "Garamond Math";
  src: url("../../font/Garamond-Math.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond SC";
  src: url("../../font/EBGaramond/EBGaramondSC08-Regular.woff") format("woff");
}
