/****************************** cubething.dev ********************************/

/****************************** cubething.dev ********************************/
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "Chillax";
}
div.footnotes {
  font-style: normal;
  font-size: 1em;
}
* {
  line-height: 1.2;
}
.ec-lmtt-10::before,
.ec-lmtt-10::after {
  content: "`";
  font-family: "libertinus mono", monospace;
}

.footer {
  text-align: center;
  margin-top: 1em;
}
