/****************************** cubething.dev ********************************/

.table-of-contents {
  font-size: small;
  line-height: 1.25em;
}

article,
a {
  color: var(--text);
}

html.dark {
  article,
  a {
    color: var(--dark-text);
  }
  .prose :is(h1, h2, h3, h4, h5, h6) a {
    color: var(--dark-text);
  }
  .prose :is(h1, h2, h3, h4, h5, h6) a:hover {
    color: var(--dark-link);
  }
  a:hover {
    color: var(--dark-accent);
  }
  ol a {
    color: var(--dark-accent);
  }
  ol a:hover {
    color: var(--dark-link);
  }
}

a {
  font-weight: bold;
  transition: 100ms;
}

a:hover {
  color: var(--accent);
  transition: 100ms;
}

code {
  font-weight: normal;
}

ol {
  counter-reset: list-item;
  max-width: fit-content;
}

ol a {
  color: var(--accent);
  font-family: Chillax, sans-serif;
  text-decoration: none; /*Inbound link - no decoration*/
}
ol a:hover {
  color: var(--link);
}

li {
  display: block;
  counter-increment: list-item;
}
li:before {
  content: counters(list-item, ".") " ";
}
